---
import {getCollection} from 'astro:content';
import BaseLayout from "../../../layouts/BaseLayout.astro";
import i18next from "i18next";
import ProjectCard from "../../../components/ProjectCard.astro";

i18next.changeLanguage("en");

const projects = (await getCollection('projects'));
---
<BaseLayout>
    {
        projects.map((project) => (
                <ProjectCard
                        title={project.data.name}
                        desc={project.data.description}
                        img={project.data.image}
                        tags={project.data.stack}
                />
                <div class="divider my-0"></div>
        ))
    }
</BaseLayout>
